.parent {
    background: white;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .child {
    width: 40px;
    height: 40px;
    background: #f107a3;
    border-radius: 50%;
  }