.scrollbar{
    width: 100px;
    height: 50%;
    background-color: transparent;
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 25%;
    display: flex;
    padding: 20px;
}




ul.scrollbar_section_list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    margin-right:10% ;
    margin: auto 10% auto 0;
    height: 75%;
}

div.progress_container{
    width: 5px;
    background-color: red;
    border-radius: 50px;
}
div.progress_fill{
    height: 100%;
    background-color: white;
    border-radius: 50px;
}