/* ClosedProjectCard.css */

.project_card {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-radius: 0.375rem;
  height: 20rem; /* Adjust height as needed */
  width: 18rem; /* Adjust width as needed */
  margin: 1rem;
}

.gradient-background {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    #7f9cf5,
    #6366f1
  ); /* Change to your preferred gradient colors */
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.project_card:hover .gradient-background {
  transform: translateY(0%);
}

.title-container {
  position: absolute;
  padding: 10px;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.title {
  font-size: 1.5rem;
  color: #1f2937; /* Change to your preferred text color */
  transition: color 0.3s ease-in-out;
}

.project_card:hover .title {
  color: #fff; /* Change to your preferred text color on hover */
}

/*this is the long thin white styling*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  opacity: 0;
  font-size: 18px;
  color: #fff;
  will-change: transform;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

h2 {
  pointer-events: none;
}

body {
  background-color: #e6e5e1;
  width: 100vw;
  height: 100vh;
}

.container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .card {
  position: relative;
  width: 500px;
  height: 200px;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 4px;
}
.container .card:before {
  content: "";
  z-index: 99;
  position: absolute;
  top: -10px;
  left: 32px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #e6e5e1;
}
.container .card:after {
  content: "";
  z-index: 99;
  position: absolute;
  bottom: -10px;
  left: 32px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #e6e5e1;
}
.container .card ul {
  z-index: 99;
  position: absolute;
  left: 39px;
  top: 5px;
  list-style-type: none;
}
.container .card ul li {
  width: 2px;
  height: 2px;
  border-radius: 2px;
  margin: 6px 0;
  background-color: #e6e5e1;
}
.container .card h2 {
  z-index: 99;
  font-family: "Poppins", sans-serif;
  position: absolute;
  bottom: 0;
  right: 130px;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}
.container .card .fa-arrow-right {
  z-index: 100;
  position: absolute;
  right: 75px;
  bottom: 25px;
  font-size: 40px;
  cursor: pointer;
}
.container .card p {
  z-index: 99;
  position: absolute;
  top: 20px;
  right: 70px;
  color: #333;
  opacity: 0.7;
  font-size: 12px;
  letter-spacing: 1px;
  writing-mode: vertical-lr;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.container .card .pic {
  z-index: 100;
  width: 400px;
  height: 200px;
  background-image: url("https://images.unsplash.com/photo-1525543907410-b2562b6796d6?ixlib=rb-0.3.5&s=9ff8e5e718a6a40cbd0e1471235912f4&auto=format&fit=crop&w=3452&q=80");
  background-size: 100% 100%;
  filter: grayscale(100%);
}

.container .card:hover i {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.container .card button {
  position: absolute;
  right: 14px;
  bottom: 14px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  mix-blend-mode: hard-light;
}
.container .card button i {
  font-size: 3rem;
}
.container .card:hover button {
  transform: scale(16.5);
}
.container .card:hover p {
  color: #fff;
}
.container .card:hover .pic {
  filter: grayscale(0);
}
.container .card2 .pic {
  background-image: url("https://images.unsplash.com/photo-1528785198459-ec50485704c7?ixlib=rb-0.3.5&s=3a2fc3039516555bbb2e9cd2967bd321&auto=format&fit=crop&w=1537&q=80");
}
.container .card2 button {
  background-color: #2b26c3;
}

.dr {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 100px;
}

/* this is the fold over styling*/
.foldcard {
  position: relative;
  width: 360px;
  height: 400px;
  background: #000;
}
.foldcard .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.foldcard .image img {
  width: 100%;
  transition: .5s;
}
.foldcard:hover .image img {
  opacity: .5;
  transform: translateX(30%);/*100%*/
}
.foldcard .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;/*100%*/
  height: 100%;
  background: #ffc107;
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}
.foldcard:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.foldcard .details .center {
  padding: 20px;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.foldcard .details .center h1 {
  margin: 0;
  padding: 0;
  color: #ff3636;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.foldcard .details .center h1 span {
  font-size: 14px;
  color: #262626;
}
.foldcard .details .center p {
  margin: 10px 0;
  padding: 0;
  color: #262626;
}
.foldcard .details .center ul {
  margin: 10px auto 0;
  padding: 0;
  display: table;
}
.foldcard .details .center ul li {
  list-style: none;
  margin: 0 5px;
  float: left;
}
.foldcard .details .center ul li a {
  display: block;
  background: #262626;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transform: .5s;
}
