.skills_container {
  height: 100vh;

  margin: 0 auto;
  display: flex;
}

div.skills_content_container {
  height: 75vh;
  width: 75vw;
  margin: auto;
  backdrop-filter: blur(10px);
  /*background-color: rgba(255, 255, 255, 0.1);*/
  border-radius: 50px;
  padding: 20px;
  background: radial-gradient(
    circle at 100% 100%,
    #0d0038 0%,
    #004467 100%
  );
  display: flex;
}

.skills_title {
  text-align: left;
  margin-bottom: 5%;
  background: linear-gradient(89.97deg, #00ffff 50.84%, #2f00ff 102.67%);
  width: 50%;
  padding: 5%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.skills_title h2 {
  color: white;
  font-size: 4rem;
}
.skills_title p {
  font-size: 1.5rem;
}

.technologies_list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  color: white;
}

.skill_icon_container {
  display: flex;
  flex-wrap: wrap;
}

.skills_icon {
  border-radius: 100%;
  position: relative;
  display: block;
  padding: 40px;
  width: 3.5vw;
  height: 3.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 6rem;
  color: #1c1d25;
}

.skill_container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.icon.css {
  color: #0cafff;
}
.icon.html {
  color: #e34c26;
}
.icon.js {
  color: rgb(201, 201, 1);
}
.icon.react {
  color: #61dbfb;
}
.icon.node {
  color: #3c873a
  ;
}
.icon.github {
  color: #F14E32;
}
.icon.database {
  color: #00758f;
}
.icon.stripe {
  color: purple;
}

p.icon_name {
  margin-top: -2vh;
  font-size: 1rem;
  color: white;
}
